.login.login-1 .login-signin,
.login.login-1 .login-signup,
.login.login-1 .login-forgot {
  display: none;
}
.login.login-1.login-signin-on .login-signup {
  display: none;
}
.login.login-1.login-signin-on .login-signin {
  display: block;
}
.login.login-1.login-signin-on .login-forgot {
  display: none;
}
.login.login-1.login-signup-on .login-signup {
  display: block;
}
.login.login-1.login-signup-on .login-signin {
  display: none;
}
.login.login-1.login-signup-on .login-forgot {
  display: none;
}
.login.login-1.login-forgot-on .login-signup {
  display: none;
}
.login.login-1.login-forgot-on .login-signin {
  display: none;
}
.login.login-1.login-forgot-on .login-forgot {
  display: block;
}

@media (min-width: 992px) {
  .login.login-1 .login-aside {
    width: 100%;
    margin-top: 40px;
    max-width: 930px;
  }
  .login.login-1 .login-form {
    width: 100%;
    max-width: 400px;
  }
}
@media (min-width: 992px) and (max-width: 1399.98px) {
  .login.login-1 .login-aside {
    width: 100%;
    max-width: 560px;
  }
}
@media (max-width: 991.98px) {
  .login.login-1 .login-form {
    width: 100%;
    max-width: 350px;
  }
}
@media (max-width: 575.98px) {
  .login.login-1 .login-form {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 976px) {
  /* For mobile phones: */
  .login.login-1 .login-aside{
    width: 100%;
    height: 330px;
  }

  .login.login-1 .login-form{
    width: 100%;
    
  }
  .login-aside-bg{
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px;
  }
  
}

.login-header{
  color: black;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.btn-login{
  border-radius: 10px;
  background-color: #1D2657;
}

.btn-login:hover{
  border-radius: 10px;
  background-color: #4285f4;
}

/* button register  */
.btn-regist{
  color: #1D2657;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
}

.btn-regist:hover{
  color: #4285f4;
}

.btn-text{
  color: #1D2657;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* forgot pass */
.text-fp{
  color: #1D2657;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.35rem;
}

.loginpage{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.loginpage h2{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

/* background login  */
.loginpage-bg{
  background: linear-gradient(180deg, rgba(78, 152, 198, 1.00) 0%,rgba(138, 199, 235, 1.00) 16.66666716337204%,rgba(207, 244, 255, 0.42) 56.77083134651184%,rgba(186, 237, 254, 0.22) 100%);
}

/* form floating label  */
.inputBox{
  position: relative;
  margin: 40px 0 20px;
}

.inputBox input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #1D2657;
}

input:focus {
  outline: none;
}

.inputBox label {
  color: #1D2657;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #4285f4;
}

.bar {
  position: relative;
  display:block;
  width:100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 3px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #4285f4;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* animations */
@-webkit-keyframes inputHighlighter {
  from { background: #4285f4; }
  to   { width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background: #4285f4; }
  to   { width: 0; background: transparent; }
}
@keyframes inputHighlighter {
  from { background: #4285f4; }
  to   { width: 0; background: transparent; }
}
/* End form floating label  */

 







